/*
Theme Name: BMA - Tour Guide
Theme URI: https://bma.brussels
singles[singles.length - 1singles[singles.length - 1singles[singles.length - 1]]]Author: Your Name
Author URI: https://thomasbris.space
Description: Theme for the Tour Guide website. Web2Print theme.
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: <https://www.gnu.org/licenses/gpl-3.0.html>
Text Domain: bma-tour-guide
Tags: web2print, custom
*/
:root {
  --spot-fonce: #004c5d;
  --spot-fluo: #ff436c;
  --text-size: 8.9pt;
  --text-smol: 7pt;
  --text-toupti: 5pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/fonts/Quicksand-Bold.woff2") format("woff2");
  font-weight: bold;
}

html,
body {
  font-size: var(--text-size);
}

body {
  font-family: "Quicksand";
  font-weight: bold;
  text-wrap: pretty;
  widows: 1;
  orphans: 1;
}

p {
  font-size: var(--text-size);
  text-wrap: pretty;
  line-height: 1.222;
}

span a,
span a:visited,
p a,
p a:visited {
  color: inherit;
  text-decoration: none;
}

img {
  filter: grayscale(1) contrast(1.4);
  max-width: 100%;
  height: auto;
}

.image {
  position: relative;
}

.svg-couv {
  z-index: 0;
  position: absolute;
  height: 148.5mm;
  width: 105mm;
  inset: 0;
}

/* PRINT PINK; HIDE GREENISH COLOR */
.hide-spot-2 aside.img-color,
.hide-spot-1 aside.img-color {
  display: none;
}

.hide-spot-1 .spot1 {
  display: none !important;
}

/* PRINT GREEN; HIDE PINK ELEMENTS */
.hide-spot-2 .spot2 {
  display: none !important;
}
