@media print {
  @page {
    marks: crop cross;
    margin: 0;
    size: A4 portrait;
  }

  body {
    color: white;
  }

  article {
    display: grid;
    grid-template-columns: 52.5mm 105mm 52.5mm;
    grid-template-rows: 148.5mm 148.5mm;
    height: 100%;
    width: 100%;
    background: var(--local-bg);
  }

  section {
    /* border: solid black 1px; */
    height: 148.5mm;
    width: 105mm;
    padding: 4mm;
  }

  section a {
    color: white;
    text-decoration: none;
  }

  .couv-1e {
    grid-column: 2 / 2;
    grid-row: 1 / 1;

    transform: rotate(180deg);
  }

  .image {
    position: relative;
  }

  .left .image {
    z-index: -1;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 80mm;
    left: 50%;
    top: 50%;
  }

  .img-color {
    height: 100%;
    width: 100%;
    background: var(--spot-fonce);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* COUV */
  .couv-1e {
    position: relative;
    overflow: visible;
  }

  h1 {
    color: white;
    text-align: center;
    font-size: 26pt;
    hyphens: auto;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
    letter-spacing: -0.02em;
  }

  .couv-images {
    columns: 4 auto;
    gap: 3mm;
  }

  .couv-images .image {
    margin-bottom: 2mm;
  }

  .fondperdu {
    z-index: -1;
    background: var(--local-bg);
    position: absolute;
    top: -6mm;
    bottom: -2mm;
    left: -6mm;
    right: -2mm;
    transform: translate(2mm, 2mm);
  }

  .cercle {
    --radius: 33.5mm;
    border-radius: 100%;
    height: calc(var(--radius) * 2);
    width: calc(var(--radius) * 2);
    position: absolute;
    top: calc(81mm - var(--radius));
    left: calc(60mm - var(--radius));
  }

  .couv-4e {
    position: absolute;
    left: 52.5mm;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4mm;
    font-size: var(--text-size);
    line-height: 1.222;
  }

  .intro-text,
  .credits {
    margin-top: auto;
    height: 101mm;
    overflow: hidden;
  }

  .intro-text {
    hyphens: auto;
  }

  .intro-text p + p {
    margin-top: 1em;
  }

  .couv-4e .credits {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    max-height: 105mm;
    margin-top: auto;
    gap: 1em;
  }

  .couv-4e .credits p {
    text-align: center;
    font-size: var(--text-toupti);
  }

  .couv-4e .credits p:first-of-type {
    font-size: var(--text-smol);
  }

  .credits .logo {
    height: 15mm;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .credits .logo img {
    max-height: 100%;
    max-width: 100%;
  }

  .couv-4e > svg use {
    fill: var(--spot-fluo);
  }

  .couv-4e p.qrcode {
    font-size: var(--text-size);
    text-align: center;
  }

  .couv-4e p.qrcode ~ svg {
    height: 17mm;
    width: 17mm;
    text-align: center;
    margin: 0 auto auto auto;
  }

  .couv-4e .intro-text,
  .couv-4e .credits {
    z-index: 2;
  }

  div[class^="more_info_"] {
    position: absolute;
    top: 99mm;
    padding: 4mm;
    width: 52.5mm;
    height: 148.5mm;
    overflow: hidden;

    hyphens: auto;
  }

  div[class^="more_info_"] p + p {
    margin-top: 1em;
  }

  div[class^="more_info_"] p a {
    word-break: break-all;
  }

  .more_info_left {
    left: 0mm;
  }
  .more_info_right {
    right: 0mm;
  }

  #verso {
    position: relative;
    padding: 4mm;
  }

  #verso .map-wrapper {
    height: 289mm;
    width: 202mm;
    position: absolute;
    inset: 4mm;
    overflow: hidden;
    /* background: white; */
  }

  #verso img {
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  #cache-misere {
    --boussole-size: 37mm;
    position: absolute;
    background: var(--spot-fluo);
    height: var(--boussole-size);
    width: var(--boussole-size);
    bottom: 0mm;
    left: 0mm;
    transform: translateY(calc(var(--boussole-size) * 0.3)) rotate(45deg);
    transform-origin: top left;
  }

  #boussole {
    position: absolute;
    bottom: 4mm;
    left: 4mm;
    transform: rotate(calc(-1deg * var(--boussole-rotation)));
    width: 6.5mm;
    height: 6.5mm;
  }

  #scale {
    color: white;
    font-size: var(--text-toupti);
    position: absolute;
    top: 1mm;
    left: 6.5mm;
    margin: auto;
    width: 100%;
    display: none;
  }

  .hide-spot-1 .inverse {
    filter: brightness(0%) invert();
  }
}
