@media print {
  .couv {
    display: none;
  }

  article {
    display: block;
  }

  section {
    height: 148.5mm;
    width: 105mm;
    padding: 4mm;
  }

  section a {
    color: white;
    text-decoration: none;
  }

  .left .image {
    z-index: 0;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-90deg) scale(var(--scaling-factor));
    left: 50%;
    top: 50%;
    height: var(--img-height);
    width: var(--img-width);
  }

  .couv-1e .img-color {
    background: var(--spot-fonce);
  }

  .left .img-color {
    height: var(--img-height);
    width: var(--img-width);
  }

  .left .image img {
    position: absolute;
    inset: 0;
  }

  /* COUV */
  .couv-1e {
    position: relative;
    overflow: hidden;
    background: var(--spot-fonce);
  }

  h1 {
    color: white;
    text-align: center;
    font-size: 26pt;
    hyphens: auto;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
    letter-spacing: -0.02em;
    z-index: 40;
  }

  .couv-images {
    columns: 4 auto;
    gap: 3mm;
  }

  .couv-images .image {
    margin-bottom: 2mm;
  }

  .cercle {
    --radius: 33.5mm;
    border-radius: 100%;
    height: calc(var(--radius) * 2);
    width: calc(var(--radius) * 2);
    position: absolute;
    top: calc(81mm - var(--radius));
    left: calc(60mm - var(--radius));
  }

  .more_info {
    display: grid;
    hyphens: auto;
    gap: 1rem;
    background-color: var(--spot-fonce);
    grid-template-columns: repeat(2, 1fr);
    color: white;
  }

  .couv-4e {
    color: white;
    background-color: var(--spot-fonce);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4mm;
    font-size: var(--text-size);
    line-height: 1.222;
  }

  .intro-text,
  .credits {
    margin-top: auto;
    height: 101mm;
    overflow: hidden;
  }

  .intro-text {
    hyphens: auto;
  }

  .intro-text p + p {
    margin-top: 1em;
  }

  .couv-4e .credits {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    max-height: 105mm;
    margin-top: auto;
    gap: 1em;
  }

  .couv-4e .credits p {
    text-align: center;
    font-size: var(--text-toupti);
  }

  .couv-4e .credits p:first-of-type {
    font-size: var(--text-smol);
  }

  .credits .logo {
    height: 15mm;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .credits .logo img {
    max-height: 100%;
    max-width: 100%;
  }

  .couv-4e > svg {
    left: 4mm;
  }

  .couv-4e > svg use {
    fill: var(--spot-fluo);
  }

  .couv-4e p.qrcode {
    font-size: var(--text-size);
    text-align: center;
  }

  .couv-4e p.qrcode ~ svg {
    height: 17mm;
    width: 17mm;
    text-align: center;
    margin: 0 auto auto auto;
  }

  .couv-4e .intro-text,
  .couv-4e .credits {
    z-index: 2;
  }
}
