body {
  color: var(--spot-fonce);
}

@media print {
  article {
    display: grid;
    grid-template-columns: repeat(auto-fill, 105mm);
    height: 148.5mm;
    width: 100%;
  }

  section {
    height: 148.5mm;
    width: 100%;
    padding: 4mm;
    position: relative;
  }

  section.projet {
    display: grid;
    grid-template-columns: 1fr 50.4mm;
    gap: 4mm;
    background: white;
  }

  .left {
    padding-left: 4mm;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
    max-width: 42.6mm;
    position: relative;
  }

  .left header {
    z-index: 1;
  }

  .projet h2 {
    text-align: center;
    line-height: 0.967;
    font-size: 23.5pt;
    letter-spacing: -0.02em;
    text-wrap: pretty;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  section.projet a {
    color: var(--spot-fonce);
  }

  .pointeur {
    background-image: url("../pointeurs/pointeur-proj.png");
    color: white;
    text-align: center;
    height: 14mm;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: var(--text-size);
    padding-top: 0.6em;
    letter-spacing: -0.03em;
  }

  .hide-spot-1 .pointeur {
    background-image: url("../pointeurs/pointeur-blanc.png");
  }

  .hide-spot-2 .pointeur {
    background-image: url("../pointeurs/pointeur-noir.png");
  }

  .image {
    position: relative;
  }

  .left .image {
    z-index: 0;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-90deg) scale(var(--scaling-factor));
    /* width: 100%; */
    /* max-height: 100%; */
    left: 50%;
    top: 50%;
    height: var(--img-height);
    width: var(--img-width);
  }

  .img-color {
    background: var(--spot-fluo);
    mix-blend-mode: screen;
    position: absolute;
    inset: 0;
    height: var(--img-height);
    width: var(--img-width);
  }

  .infos-complementaires {
    font-size: var(--text-smol);
    text-align: center;
    z-index: 1;
    line-height: 1.2;
  }

  span:not(.nope)::after {
    content: "\00200B•\00200B";
    color: inherit;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .conception {
    margin-right: 0.5ch;
  }

  .infos-complementaires p {
    font-size: var(--text-smol);
  }

  .link-credits {
    padding: 1.5pt 0;
    line-height: 1;
  }

  .link-credits span {
    font-size: var(--text-toupti);
  }

  .link-credits ~ p {
    margin-top: 1em;
  }

  .right {
    z-index: 1;
    height: 100%;
    overflow: hidden;

    hyphens: auto;
  }

  .right p + p {
    margin-top: 1em;
  }

  /* COUV */
  .couv {
    overflow: visible;
    background: var(--spot-fluo);
  }

  .couv::after {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--spot-fluo);
  }

  .tour-guide {
    inset: 0;
  }

  .nd-bm {
    inset: initial;
    height: 148.5mm;
    width: 105mm;
  }

  h1 {
    color: white;
    text-align: center;
    font-size: 26pt;
    hyphens: auto;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;

    letter-spacing: -0.02em;
    z-index: 40;
  }

  .couv-images {
    columns: 4 auto;
    column-gap: 3mm;
  }

  .couv-images .image {
    margin-bottom: 2mm;
  }

  .couv-images .img-color {
    height: calc(100% - 3px); /* no idea why I need to remove 3px 🤷 */
    width: 100%;
  }

  .fondperdu {
    z-index: -1;
    background: var(--spot-fluo);
    position: absolute;
    top: -6mm;
    bottom: -3mm;
    left: -3mm;
    right: -3mm;
    transform: translateY(3mm);
  }

  article .non-detaille:first-child .fondperdu {
    right: 0 !important;
    left: -3mm !important;
  }

  .projet + .non-detaille .fondperdu {
    left: 0 !important;
    right: -3mm !important;
  }

  .couv .fondperdu {
    left: 0;
  }

  .cercle {
    --radius: 33.5mm;
    border-radius: 100%;
    height: calc(var(--radius) * 2);
    width: calc(var(--radius) * 2);
    position: absolute;
    top: calc(81mm - var(--radius));
    left: calc(60mm - var(--radius));
  }

  /* NON-DETAILLE */
  .non-detaille {
    background: var(--spot-fluo);
    columns: 2;
    row-gap: 1em;
    column-gap: 1mm;
    color: white;
    overflow: visible;
    padding: 4mm;
    z-index: 2;
  }

  .non-detaille div span:last-child::after {
    content: "";
  }

  .non-detaille .svg-couv {
    width: 100mm;
    height: 144mm;
  }

  .non-detaille .svg-couv use {
    fill: var(--spot-fonce);
  }

  .non-detaille .pointeur {
    background-image: none;
    font-size: var(--text-smol);
    height: auto;
    padding-top: 0;
    position: relative;
  }

  .non-detaille .pointeur svg {
    width: 75%;
    height: auto;
    transform: translate(-1mm, 0.2em);
  }

  .non-detaille .pointeur .svg-viewpoint {
    width: 100%;
    transform: translate(-1mm, 0.3em);
  }

  .non-detaille .pointeur.eat-drink svg {
    width: 50%;
    transform: translate(-1mm, -0.2em);
  }

  .non-detaille .st1 {
    fill: #fff;
  }

  .non-detaille .st2 {
    fill: none;
  }

  .non-detaille .index {
    position: absolute;
    text-align: center;
    font-size: 5.5pt;
    top: 2.3mm;
    left: 50%;
    transform: translate(calc(-50% - 1mm), -0.12em);
  }

  .non-detaille .pointeur.viewpoint .index {
    top: 2.7mm;
  }

  .non-detaille .eat-drink .index {
    top: 0.8mm;
  }

  .non-detaille span.title {
    text-transform: uppercase;
    position: relative;
  }

  .non-detaille .infos-complementaires {
    text-align: left;
    font-size: var(--text-smol);
  }

  .nd-single,
  .ed-single {
    width: 47mm;
    display: grid;
    grid-template-columns: 8mm 1fr;
    gap: 1mm;
    isolation: isolate;
    z-index: 10;
    break-inside: avoid;
    margin-bottom: var(--text-smol);
  }

  .ed-icon {
    position: absolute;
    left: -1.25em;
    width: 1em;
    height: auto;
    top: 0.1em;
  }

  .nd-single + .ed-single .infos-complementaires {
    border-top: dotted white 3px;
    padding-top: calc(var(--text-smol) - 2px);
  }

  .nd-single + .ed-single aside.pointeur.eat-drink {
    padding-top: var(--text-smol) !important;
  }

  .nd-single + .ed-single aside.pointeur.eat-drink .index {
    top: calc(0.6mm + 1.5em) !important;
  }

  .website {
    word-break: break-all;
    word-break: break-word;
  }
}
