,
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 10;
  background: white;

  max-width: 20ch;
}

nav ul {
  list-style: none;
  list-style-position: inside;
}

nav.nav-menu {
  background: var(--spot-fonce);
  color: white;
  padding: 1.5rem;
}

nav.nav-menu h1 {
  margin-bottom: 0.5rem;
  text-align: center;
}

nav.nav-menu h1:first-child {
  margin-top: 0;
}

nav.nav-menu h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

nav.nav-menu ul:not(.public-menu) li::before {
  content: "→ ";
  font-size: 1.2em;
}

nav.nav-menu li + li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

nav.nav-menu .public-menu li + li {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

nav.nav-menu .public-menu li p {
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: underline;
  font-size: 1em;
}

nav a:hover,
nav a:active,
nav a:focus {
  text-decoration: none;
}

/* INTRO BALADE */
.balade-intro {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  max-width: 90%;
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 3px var(--spot-fluo);
  -webkit-text-fill-color: white;

  z-index: 6;

  text-align: right;
  display: none;
}

.balade-intro.display {
  display: block;
}

@media screen and (max-width: 768px) {
  .balade-intro {
    top: initial;
    font-size: 2rem;
    z-index: 6;
    -webkit-text-stroke: 2px var(--spot-fluo);

    text-align: left;
  }
}

/* MAPLIBRE POPUPS */
.maplibre-popup {
  color: var(--spot-fonce);
  border-radius: 0;
  font-size: var(--text-size);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
}

.maplibre-popup h4 {
  margin-bottom: 1em;
}

.maplibre-popup h4 p,
.maplibre-popup h4 {
  font-size: 1.6rem;
}

.maplibre-popup a {
  color: var(--spot-fonce);
  font-size: var(--text-size);
  margin-top: 1em;
  display: inline-block;
}

.maplibre-popup a:not(.website) {
  font-size: 1.2em;
}

.maplibre-popup span + span::before {
  content: " • ";
}

.maplibre-popup span.nope::before,
.maplibre-popup span.prime_contractor::before {
  content: " ";
}

.maplibre-popup span.adress {
  margin-top: 0.5em;
}

.maplibregl-popup-content {
  border-radius: 0;
  padding: 2rem;
  border: none;
}

.maplibregl-popup-close-button {
  inset: 0.3em 0.5em auto auto;
  color: var(--spot-fonce);
}

.maplibregl-popup-content .index {
  font-size: 0.65em;
  margin-right: 0.5em;
  padding: 0.3em;
  padding-right: 0.1em;
}

.maplibregl-popup-content .index.eat-drink,
.maplibregl-popup-content .index.non-detaille-markers {
  border: solid var(--spot-fonce) 2px;
}

.maplibregl-popup-content .index.eat-drink {
  border-radius: 100%;
  padding-top: 0;
  padding-right: 0.3em;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.maplibregl-popup-content .index.projets-markers-unclustered {
  color: white;
  background: var(--spot-fonce);
}
